.top-bar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  background-color: #FFFAFA;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 20px;
}

.experience-entry {
  width: 1000px;
  max-width: 90%;
  margin: auto;
  background-color: #FFFAFA;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-bottom: 20px;
}

.experience-entry p {
  margin-top: 0;
  text-align: left;
}

h3, h4 {
  text-align: left;
  font-size: 22px;
  margin: 20px auto 10px auto;
  width: 1000px;
  max-width: 90%;
  color: black;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.image-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-image {
  width: 150px;
  height: 200px;
  border-radius: 10%;
  object-fit: cover;
  border: 3px solid #FF69B4;
  align-items: center;
  margin-top: 0;
  object-position: top;
}

.first-letter::first-letter {
  font-size: 25px; 
  font-weight: bold; 
  color: #CCCCFF; 
  font-family: 'Cedarville Cursive', serif;
  display: inline-block; 
  vertical-align: 0.01em;
}

.name {
  padding: 10px 20px; 
  font-family: 'Cedarville Cursive', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
}

p {
  width: 1000px;
  height: auto; 
  margin: auto;
  text-align: left;
  background-color: #FFFAFA;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px; 
}

#typing {
   font-size: 2rem;
   display: inline-block;
   border-right: 2px solid black; 
   white-space: nowrap;
   overflow: hidden;
   animation: blink 1s step-start infinite; 
   font-family: 'Courier New', Courier, monospace;
   margin-top: 60px;
}

@keyframes blink {
  50%{
    border-color: transparent;
  }
}

section {
  transition: opacity 0.5s ease-in-out;
}

#about {
  display: block;
}

header {
    text-align:center;
}

#main {
  background-image: url('csit-sa-hero-1200x400.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
}

ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hamburger-menu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.hamburger-menu i {
  font-size: 24px;
  color: #CCCCFF;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.hamburger-menu i:hover {
  background-color: white; 
  color: CCCCFF;
  padding: 5px; 
  border-radius: 50%; 
  transform: scale(1.1); 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.dropdown-nav {
  display: none; 
  position: fixed;
  top: 40px;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.dropdown-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-nav ul li {
  margin: 10px 0;
}

.dropdown-nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.dropdown-nav ul li a:hover {
  color: #CCCCFF;  
}

.work {
  text-align: left;
  margin-left: 240px;
}

.volunteer {
  text-align: left;
}

.header {
  text-align: left;
  margin-left: 240px;
}

.header-one {
  text-align: left;
}

small {
  color: #808080;
}

.socials-icons {
  display:flex;
  justify-content: center;
  gap:20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
 }
 
 .socials-icons a i {
  color: #CCCCFF; 
  font-size: 20px; 
  transition: color 0.3s, transform 0.3s; 
}

.socials-icons a i:hover {
  background-color: #CCCCFF;
  color: white; 
  padding: 5px; 
  border-radius: 50%;
  transform: scale(1.1); 
}

.resume-button {
  text-align: center;
  margin-top: 20px; 
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

button {
  background-color: transparent;
  color: #CCCCFF;
  border: 2px solid #CCCCFF;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.skills-container {
  display: flex;
  justify-content: center; 
  gap: 20px;
  position: relative;
  align-items: stretch;
}

.skills-container::before {
  content: '';
  position: absolute;
  top: 0; 
  bottom: 0; 
  width: 2px; 
  background-color: #FF69B4; 
  left: 50%; 
  transform: translateX(-50%); 
  height: calc(100% - 40px); 
  margin: auto; 
}

.languages, .other-tools {
  background-color: #FFFAFA; 
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px; 
  text-align: left; 
}

.other-tools h4, .languages h4 {
  margin-top: 0;
}

.contact-container p {
  text-align: center;
}

button:hover {
  background-color: #CCCCFF;
  color: white;
  transform: scale(1.1);
}

section {
  text-align:center;
}

a {
  text-decoration: none; 
  color: #CCCCFF;
}

a:hover { 
  color: #CCCCFF; 
  text-decoration: underline;
}

footer {
  text-align:center;
}

.cr {
  padding-top: 20px;
  padding-bottom: 20px;
}

.bottom-nav {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFFAFA; 
  color: black;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
  z-index: 1000; 
  padding: 10px 0; 
}

.bottom-nav ul {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: center;
}

.bottom-nav ul li {
  margin: 0 15px; 
}

.bottom-nav ul li a {
  text-decoration: none; 
  color: black; 
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s ease; 
}

.bottom-nav ul li a:hover {
  color: #CCCCFF; 
}

@media screen and (max-width: 600px) {
  p {
    max-width: 90%;
  }

@media screen and (max-width: 600px) {
  .bottom-nav ul {
    flex-direction: column; 
    padding: 10px;
  }

  .bottom-nav ul li {
    margin: 10px 0;
  }








